extends layout

block content
  h1 Foley Campaign Back-End Resources
  p Welcome to #{title}
  block content
  h4
    a(href='/private/users') List of Submitted Contacts
    p
    a(href='/private/user/create') Add a Contact to Database 
