extends layout

block content

    p Do you really want to delete #{user.name_first}  #{user.name_last}?

    form(method='POST' action='')
      div.form-group
        input#userid.form-control(type='hidden',name='userid', required='true', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete
