body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.individual {
  border: 2px solid rgb(149, 137, 137);
  box-shadow: 10px 5px 10px rgb(73, 73, 73);
  border-radius: 10px;
  padding: 15px;
  margin: 25px;
}

ul {
  list-style: none;
}

.individual button{
  margin-right: 10px;
}
